@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="btn-group">
        <button class="btn btn-secondary">@User.Identity.Name</button>
        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Account" asp-action="Logout" id="logoutForm" class="dropdown-item" style="color:black">
                    Logout
                </a>
            </li>
        </ul>
    </li>

}
else
{
    <ul class="nav navbar-nav navbar-left">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login" 
        asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color:white">
            &nbsp;Log in&nbsp;
        </a>

        <a class="nav-link text-light" asp-controller="Account" asp-action="Register" style="color:white">
            &nbsp;Registrar&nbsp;&nbsp;&nbsp;
        </a>
    </ul>
}