<vr/>
<img src="~/images/adminarea.jpg" alt="Área de administraçao" class="marginTop1">
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Adminiistrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar à Home Page</a>
</div>